# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# WordPress и MySQL данные
wordpress/data/*
!wordpress/data/.gitkeep
mysql/data/*
!mysql/data/.gitkeep

# SSL сертификаты
nginx/ssl/*
!nginx/ssl/.gitkeep

# Резервные копии
backups/
