:root {
    --p-primary-50: #f5e4e4;
    --p-primary-100: #e5d1d1;
    --p-primary-200: #d0a7a7;
    --p-primary-300: #b76ee7;
    --p-primary-400: #39934d;
    --p-primary-500: #D50404;
    --p-primary-600: #D50404/80%;
    --p-primary-700: #574708;
    --p-primary-800: #46065f;
    --p-primary-900: #3b064e;
    --p-primary-950: #22022c;
    --p-surface-0: #ffffff;
    --p-surface-50: #fafafa;
    --p-surface-100: #f4f4f5;
    --p-surface-200: #e4e4e7;
    --p-surface-300: #d4d4d8;
    --p-surface-400: #a1a1aa;
    --p-surface-500: rgba(36, 36, 36, 1);
    --p-surface-600: #52525b;
    --p-surface-700: #3f3f46;
    --p-surface-800: #27272a;
    --p-surface-900: #18181b;
    --p-surface-950: #09090b;
    --p-content-0: rgba(36, 36, 36, 1);
    --p-select-background: rgba(40,40,40,1);
    --p-select-border-color: rgba(255,255,255,0.15);
    --p-select-border-radius: 12px;
    --p-select-padding-y: 12px;
    --p-select-padding-x: 14px;
    --p-select-list-padding: 14px;
    --p-select-list-gap: 10px;
    --p-select-option-selected-color: #EFEFEF;
    --p-select-option-focus-color: #D50404;
    --p-select-option-selected-focus-color: #EFEFEF;
    --p-select-dropdown-width: 50px;
}

/* Light */
:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-500);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

/* Dark */
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-0);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-0);
        --p-text-hover-color: var(--p-surface-0);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
}

body {
    overflow-x: hidden;
}

.p-dark {
    color-scheme: dark;
}

.bg-hero-image {
    background-image: url('/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
